{% extends "base.html" %}
{% load static  %}
{% get_static_prefix as STATIC %}
{% load widget_tweaks %}

{% block pagespecificstyles %}
  <link rel="stylesheet" href="{{ STATIC }}css/jquery-ui.custom.min.css" />
{% endblock %}

{% block maintitle %}Promena lozinke{% endblock %}
{% block titleinfo %}Morate znati tekuću lozinku da biste je promenili{% endblock %}

{% block content %}
<form action="" method="post" id="change-password-form">
  {% csrf_token %}
  {{ form.username.as_hidden }}
  {% if form.non_field_errors %}
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert">
        <i class="icon-remove"></i>
      </button>
      <strong>
        Greška!
      </strong>
      <br />
      {{ form.non_field_errors }}
    </div>
  {% endif %}
  <div class="form-group">
    <label class="col-md-2 control-label no-padding-right" for="id_old_password">Stara lozinka</label>
    <div class="col-md-4">{{ form.old_password|attr:"required:required"|attr:"class:col-md-12" }}</div>
    <div class="clearfix"></div><div class="space-2"></div>

    <label class="col-md-2 control-label no-padding-right" for="id_new_password1">Nova Lozinka</label>
    <div class="col-md-4">{{ form.new_password1|attr:"required:required"|attr:"class:col-md-12" }}</div>
    <div class="clearfix"></div><div class="space-2"></div>

    <label class="col-md-2 control-label no-padding-right" for="id_new_password2">Ponovite lozinku</label>
    <div class="col-md-4">{{ form.new_password2|attr:"required:required"|attr:"class:col-md-12" }}</div>
    <div class="clearfix"></div><div class="space-2"></div>

    <div class="col-md-6">
      <button class="btn btn-lg btn-success pull-right" id="id_save" type="button">
        <i class="icon-save"></i>
        Promeni
      </button>
    </div>
  </div>
</form>
{% endblock %}

{% block pagescripts %}
<script src="{{ STATIC }}js/jquery.validate.min.js"></script>
<script src="{{ STATIC }}js/additional-methods.min.js"></script>
<script src="{{ STATIC }}js/jquery.validator.messages.js"></script>
<script type="text/javascript">
$(function() {
  $.validator.addMethod("jednake_lozinke", function(value, element) {
    var pass1 = $("#id_new_password1").val();
    var pass2 = $("#id_new_password2").val();
    return (pass1 == pass2);
  });
  var validationConfig = {
    showErrors: function(errorMap, errorList) {
      $.each(this.successList, function(index, value) {
        return $(value).popover("hide");
      });
      return $.each(errorList, function(index, value) {
        var _popover;
        var element = $(value.element);
        if (element.is(":checkbox"))
          element = element.parent();
        _popover = element.popover({
          trigger: "manual",
          placement: "right",
          content: value.message,
          template: "<div class=\"popover\"><div class=\"arrow\"></div><div class=\"popover-inner\"><div class=\"popover-content\"><p></p></div></div></div>"
        });
        _popover.data("bs.popover").options.content = value.message;
        return element.popover("show");
      });
    },
    rules: {
      new_password2 : {
        jednake_lozinke: true
      }
    },
    messages: {
      new_password2: 'Lozinke nisu jednake.'
    }
  };
  $("#id_save").click(function() {
    var form = $("#change-password-form");
    form.validate(validationConfig);
    if (form.valid()) {
      form.submit();
    }
  });
});
</script>
{% endblock %}