{% extends "base.html" %}
{% load static  %}
{% get_static_prefix as STATIC %}
{% load widget_tweaks %}

{% block maintitle %}Promena lozinke{% endblock %}
{% block titleinfo %}Morate znati tekuću lozinku da biste je promenili{% endblock %}

{% block content %}
<form method="post" id="change-password-form" action="">
  {% csrf_token %}
  {{ form.username.as_hidden }}
  {% if form.non_field_errors %}
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert">
        <i class="icon-remove"></i>
      </button>
      <strong>
        Greška!
      </strong>
      <br />
      {{ form.non_field_errors }}
    </div>
  {% endif %}
  <div class="form-group">
    <label class="col-md-2 control-label no-padding-right" for="id_old_password">Stara lozinka</label>
    <div class="col-md-4">{{ form.old_password|attr:"required:required"|attr:"class:col-md-12" }}</div>
    <div class="clearfix"></div><div class="space-2"></div>

    <label class="col-md-2 control-label no-padding-right" for="id_new_password1">Nova Lozinka</label>
    <div class="col-md-4">{{ form.new_password1|attr:"required:required"|attr:"class:col-md-12" }}</div>
    <div class="clearfix"></div><div class="space-2"></div>

    <label class="col-md-2 control-label no-padding-right" for="id_new_password2">Ponovite lozinku</label>
    <div class="col-md-4">{{ form.new_password2|attr:"required:required"|attr:"class:col-md-12" }}</div>
    <div class="clearfix"></div><div class="space-2"></div>

    <div class="col-md-6">
      <button class="btn btn-lg btn-success pull-right" id="id_save" type="button">
        <i class="icon-save"></i>
        Promeni
      </button>
    </div>
  </div>
</form>
{% endblock %}

{% block pagescript %}
<script type="text/javascript">
$(function() {
    $("#id_save").click(function() {
        var form = $("#change-password-form");
        var pass1 = $("#id_new_password1").val();
        var pass2 = $("#id_new_password2").val();
        if (pass1 == pass2)
            form.submit();
        else {
            alert('Nove lozinke nisu jednake.');
        }
    });
});
</script>
{% endblock %}