{% extends "base.html" %}
{% load label_class %}
{% load render_table from django_tables2 %}

{% block pagetitle %}{{ pagetitle }}{% endblock %}
{% block maintitle %}{{ maintitle }}{% endblock %}
{% block titleinfo %}{{ titleinfo }}{% endblock %}

{% block content %}
<form class="form-horizontal" role="form" >

  <div class="form-group">
    {{ form.inv_broj|label_with_classes:"col-sm-2 control-label no-padding-right"}}
    <div class="col-sm-5">
      <input type="text" readonly="" value="{{ predmet.inv_broj }}" class="col-xs-10 col-sm-5"/>
    </div>
  </div>

  <div class="form-group">
    {{ form.br_mat_dok|label_with_classes:"col-sm-2 control-label no-padding-right"}}
    <div class="col-sm-9">
      <input type="text" readonly="" value="{{ predmet.br_mat_dok }}" class="col-xs-10 col-sm-5"/>
    </div>
  </div>

  <div class="form-group">
    {{ form.vrsta_predmeta|label_with_classes:"col-sm-2 control-label no-padding-right"}}
    <div class="col-sm-9">
      <input type="text" readonly="" value="{{ predmet.vrsta_predmeta }}" class="col-xs-10 col-sm-5"/>
    </div>
  </div>

  <div class="form-group">
    {{ form.vrsta_zbirke|label_with_classes:"col-sm-2 control-label no-padding-right"}}
    <div class="col-sm-4">
      <input type="text" readonly="" value="{{ predmet.vrsta_zbirke.naziv }}" class="col-xs-10 col-sm-5"/>
    </div>
  </div>

  <div class="form-group">
    {{ form.br_primeraka|label_with_classes:"col-sm-2 control-label no-padding-right"}}
    <div class="col-sm-3">
      <input type="text" readonly="" value="{{ predmet.br_primeraka }}" class="col-xs-10 col-sm-5"/>
    </div>
  </div>

  <div class="form-group">
    {{ form.br_negativa|label_with_classes:"col-sm-2 control-label no-padding-right"}}
    <div class="col-sm-9">
      <input type="text" readonly="" value="{{ predmet.br_negativa }}" class="col-xs-10 col-sm-9"/>
    </div>
  </div>

  <div class="form-group">
    {{ form.vreme_nastanka|label_with_classes:"col-sm-2 control-label no-padding-right"}}
    <div class="col-sm-9">
      <input type="text" readonly="" value="{{ predmet.vreme_nastanka }}" class="col-xs-10 col-sm-5"/>
    </div>
  </div>

  <div class="form-group">
    {{ form.datum_nastanka|label_with_classes:"col-sm-2 control-label no-padding-right"}}
    <div class="col-sm-9">
      <input type="text" readonly="" value="{{ predmet.datum_nastanka|date:'d.m.Y.' }}" class="col-xs-10 col-sm-3"/>
    </div>
  </div>

  <div class="form-group">
    {{ form.mesto_nastanka|label_with_classes:"col-sm-2 control-label no-padding-right"}}
    <div class="col-sm-9">
      <input type="text" readonly="" value="{{ predmet.mesto_nastanka }}" class="col-xs-10 col-sm-5"/>
    </div>
  </div>

  <div class="form-group">
    {{ form.mesto_nastanka2|label_with_classes:"col-sm-2 control-label no-padding-right"}}
    <div class="col-sm-9">
      <input type="text" readonly="" value="{{ predmet.mesto_nastanka2.naziv }}" class="col-xs-10 col-sm-5"/>
    </div>
  </div>

  <div class="form-group">
    {{ form.autor|label_with_classes:"col-sm-2 control-label no-padding-right"}}
    <div class="col-sm-9">
      <input type="text" readonly="" value="{{ predmet.autor }}" class="col-xs-10 col-sm-5"/>
    </div>
  </div>

  <div class="form-group">
    {{ form.stil|label_with_classes:"col-sm-2 control-label no-padding-right"}}
    <div class="col-sm-9">
      <input type="text" readonly="" value="{{ predmet.stil }}" class="col-xs-10 col-sm-5"/>
    </div>
  </div>

  <div class="form-group">
    {{ form.materijal|label_with_classes:"col-sm-2 control-label no-padding-right"}}
    <div class="col-sm-9">
      <input type="text" readonly="" value="{{ predmet.materijal }}" class="col-xs-10 col-sm-5"/>
    </div>
  </div>

  <div class="form-group">
    {{ form.sirina|label_with_classes:"col-sm-2 control-label no-padding-right"}}
    <div class="col-sm-3">
      <input type="text" readonly="" value="{{ predmet.sirina }}" class="col-xs-10 col-sm-5"/>
    </div>
  </div>

  <div class="form-group">
    {{ form.duzina|label_with_classes:"col-sm-2 control-label no-padding-right"}}
    <div class="col-sm-3">
      <input type="text" readonly="" value="{{ predmet.duzina }}" class="col-xs-10 col-sm-5"/>
    </div>
  </div>

  <div class="form-group">
    {{ form.visina|label_with_classes:"col-sm-2 control-label no-padding-right"}}
    <div class="col-sm-3">
      <input type="text" readonly="" value="{{ predmet.visina }}" class="col-xs-10 col-sm-5"/>
    </div>
  </div>

  <div class="form-group">
    {{ form.debljina|label_with_classes:"col-sm-2 control-label no-padding-right"}}
    <div class="col-sm-3">
      <input type="text" readonly="" value="{{ predmet.debljina }}" class="col-xs-10 col-sm-5"/>
    </div>
  </div>

  <div class="form-group">
    {{ form.precnik|label_with_classes:"col-sm-2 control-label no-padding-right"}}
    <div class="col-sm-3">
      <input type="text" readonly="" value="{{ predmet.precnik }}" class="col-xs-10 col-sm-5"/>
    </div>
  </div>

  <div class="form-group">
    {{ form.grama|label_with_classes:"col-sm-2 control-label no-padding-right"}}
    <div class="col-sm-3">
      <input type="text" readonly="" value="{{ predmet.grama }}" class="col-xs-10 col-sm-5"/>
    </div>
  </div>

  <div class="form-group">
    {{ form.opis|label_with_classes:"col-sm-2 control-label no-padding-right"}}
    <div class="col-sm-9">
      <textarea readonly="" class="form-control" rows="8" cols="40">{{ predmet.opis }}</textarea>
    </div>
  </div>

  <div class="form-group">
    {{ form.nacin_nabavke|label_with_classes:"col-sm-2 control-label no-padding-right"}}
    <div class="col-sm-9">
      <input type="text" readonly="" value="{{ predmet.nacin_nabavke.naziv }}" class="col-xs-10 col-sm-5"/>
    </div>
  </div>

  <div class="form-group">
    {{ form.opis_nabavke|label_with_classes:"col-sm-2 control-label no-padding-right"}}
    <div class="col-sm-9">
      <input type="text" readonly="" value="{{ predmet.opis_nabavke }}" class="col-xs-10 col-sm-10"/>
    </div>
  </div>

  <div class="form-group">
    {{ form.br_knjige_ulaza|label_with_classes:"col-sm-2 control-label no-padding-right"}}
    <div class="col-sm-3">
      <input type="text" readonly="" value="{{ predmet.br_knjige_ulaza }}" class="col-xs-10 col-sm-10"/>
    </div>
  </div>

  <div class="form-group">
    {{ form.cena|label_with_classes:"col-sm-2 control-label no-padding-right"}}
    <div class="col-sm-9">
      <input type="text" readonly="" value="{{ predmet.cena }}" class="col-xs-10 col-sm-5"/>
    </div>
  </div>

  <div class="form-group">
    {{ form.kategorija|label_with_classes:"col-sm-2 control-label no-padding-right"}}
    <div class="col-sm-9">
      <input type="text" readonly="" value="{{ predmet.kategorija.naziv }}" class="col-xs-10 col-sm-5"/>
    </div>
  </div>

  <div class="form-group">
    {{ form.istorijat|label_with_classes:"col-sm-2 control-label no-padding-right"}}
    <div class="col-sm-9">
      <textarea readonly="" class="form-control" rows="8" cols="40">{{ predmet.istorijat }}</textarea>
    </div>
  </div>

  <div class="form-group">
    {{ form.stanje_ocuvanosti|label_with_classes:"col-sm-2 control-label no-padding-right"}}
    <div class="col-sm-9">
      <input type="text" readonly="" value="{{ predmet.stanje_ocuvanosti }}" class="col-xs-10 col-sm-10"/>
    </div>
  </div>

  <div class="form-group">
    {{ form.restauracija|label_with_classes:"col-sm-2 control-label no-padding-right"}}
    <div class="col-sm-9">
      <input type="text" readonly="" value="{{ predmet.restauracija }}" class="col-xs-10 col-sm-10"/>
    </div>
  </div>

  <div class="form-group">
    {{ form.literatura|label_with_classes:"col-sm-2 control-label no-padding-right"}}
    <div class="col-sm-9">
      <textarea readonly="" class="form-control" rows="8" cols="40">{{ predmet.literatura }}</textarea>
    </div>
  </div>

  <div class="form-group">
    {{ form.smesten|label_with_classes:"col-sm-2 control-label no-padding-right"}}
    <div class="col-sm-9">
      <input type="text" readonly="" value="{{ predmet.smesten }}" class="col-xs-10 col-sm-10"/>
    </div>
  </div>

  <div class="form-group">
    {{ form.obradio|label_with_classes:"col-sm-2 control-label no-padding-right"}}
    <div class="col-sm-9">
      <input type="text" readonly="" value="{{ predmet.obradio }}" class="col-xs-10 col-sm-5"/>
    </div>
  </div>

  <div class="form-group">
    {{ form.napomena|label_with_classes:"col-sm-2 control-label no-padding-right"}}
    <div class="col-sm-9">
      <input type="text" readonly="" value="{{ predmet.napomena }}" class="col-xs-10 col-sm-10"/>
    </div>
  </div>

  <div class="form-group">
    {{ form.br_protokola|label_with_classes:"col-sm-2 control-label no-padding-right"}}
    <div class="col-sm-9">
      <input type="text" readonly="" value="{{ predmet.br_protokola }}" class="col-xs-10 col-sm-5"/>
    </div>
  </div>

  <div class="form-group">
    {{ form.br_racuna|label_with_classes:"col-sm-2 control-label no-padding-right"}}
    <div class="col-sm-9">
      <input type="text" readonly="" value="{{ predmet.br_racuna }}" class="col-xs-10 col-sm-5"/>
    </div>
  </div>

  <div class="form-group">
    {{ form.napomena|label_with_classes:"col-sm-2 control-label no-padding-right"}}
    <div class="col-sm-9">
      <input type="text" readonly="" value="{{ predmet.napomena }}" class="col-xs-10 col-sm-10"/>
    </div>
  </div>

  <div class="form-group">
    {{ form.kreirao|label_with_classes:"col-sm-2 control-label no-padding-right"}}
    <div class="col-sm-9">
      <input type="text" readonly="" value="{{ predmet.kreirao.puno_ime }}" class="col-xs-10 col-sm-5"/>
    </div>
  </div>

  <div class="form-group">
    {{ form.datum_kreiranja|label_with_classes:"col-sm-2 control-label no-padding-right"}}
    <div class="col-sm-9">
      <input type="text" readonly="" value="{{ predmet.datum_kreiranja|date:'d.m.Y.' }}" class="col-xs-10 col-sm-5"/>
    </div>
  </div>

  <div class="form-group">
    {{ form.fotografija|label_with_classes:"col-sm-2 control-label no-padding-right"}}
    <div class="col-sm-4">
      fotografija
    </div>
  </div>

</form>

<h3>Istorija izmena kartona</h3>
{% render_table table %}

{% endblock %}

{% block pagescript %}
{% endblock %}